%html
  %head
    %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ src: '/kataomoi.js' }
  %body
    %h1 kataomoi

    %table
      %thead
        %tr
          %th profile image url
          %th screen name
          %th friends count
          %th followers count
          %th last tweeted at
      %tbody#list
